[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
ipython = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
hypothesis = "*"
pytest-mock = "*"
pytest-icdiff = "*"

[packages]
requests = "*"
fastapi = "*"
uvicorn = "*"
bitarray = "*"
mmh3 = "*"
readerwriterlock = "*"
requests-futures = "*"

[requires]
python_version = "3.9.1"

[pipenv]
allow_prereleases = true
